<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="username">{{ form.username.label.text }}</label>
        {{ form.username(class="form-control", id="username") }}
    </div>
    <div class="form-group">
        <label for="password">{{ form.password.label.text }}</label>
        {{ form.password(class="form-control", id="password") }}
    </div>
    <!-- <button type="submit" class="btn btn-primary">Login</button> -->
    <a href="{{ url_for('posts.landing') }}" class="btn btn-primary">Login</a>

</form>
